aniso8601==1.2.1
click==6.7
Flask==2.3.2
Flask-RESTful==0.3.5
gunicorn==23.0.0
itsdangerous==0.24
Jinja2==3.1.6
MarkupSafe==1.0
pymongo==4.6.3
python-dateutil==2.6.0
pytz==2017.2
six==1.10.0
Werkzeug==3.1.4
